<ol class="posts">
    <% posts.forEach ( (post, index) => { %>
        <li class="post-title"><%= index + 1 %>. <%= post.title %></li>
        <li class="post-body"><%= post.body %></li>
        <br>    
    <% }) %>
</ol>